.raijins-modal {
  border-radius: 1rem;
  font-family: 'Poppins';

  @media screen and (max-width: 640px) {
    border-radius: 1rem;
  }

  .react-responsive-modal-closeButton {
    display: none;
  }

  .shut-btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 3rem;

    @media screen and (max-width: 640px) {
      width: 30px;
      top: 1rem;
      right: 2rem;
    }
    
    img {
      width: 100%;
    }
    
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}