.set-buy-num-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 150px;
  
  button {
    padding: 0.8rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background-color: #7f7f7f;
  }

  .buy-num {
    font-size: 2rem;
  }
}